<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>

<body>
    <div class="container" align='center'>
        <h1>Chandrasekaran cloth store welcomes you</h1>
        <h1>signup here</h1>
    </div>
    <hr>

    <form action="" method="POST">
        {{form.as_p}} {%csrf_token%}
        <input type="submit" class="btn btn-success" name="signup">

    </form>





</body>

</html>